<table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Transacción</th>
        <th>Rut</th>
        <th>Nombre</th>
        <th>Banco</th>
        <th>Monto</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let data of dataService">
        <td><input type="checkbox"/></td>
        <td>{{data.transactionNumber}}</td>
        <td>{{data.rut}}</td>
        <td>{{data.fullName}}</td>
        <td>{{data.bank}}</td>
        <td>{{data.amount}}</td>
      </tr>
    </tbody>
  </table>