<!-- Collapsable for the second part of the view -->
<div class="accordion container-fluid mt-5" id="accordionExample">
  <div class="card">
    <!-- Header with title and a button-->
    <div class="card-header" id="headingOne">
      <div class="row justify-content-between">
        <div class="col-11 mt-3">
          <h5 class="mb-0">
              Total Items: 16
          </h5>
        </div>
        <div class="col-1 mt-3">
          <button class="btn btn-light" type="button" data-toggle="collapse" 
          data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
          (click)="showToggler()">
            Abrir
          </button>
        </div>
      </div>
    </div>

    <!-- Content Hidden/shown depending on the event inside the header -->
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" 
    [ngClass]="{ 'show': isTogglerOpen }" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row justify-content-start">
          <div class="col-3">
            <select class="form-control">
              <option>Default select</option>
            </select>
          </div>
          <div class="col-3">
            <select class="form-control">
              <option>Default select</option>
            </select>
          </div>
          <div class="col-3">
            <select class="form-control">
              <option>Default select</option>
            </select>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-6 mt-3">
            <input class="form-control" type="text" 
            placeholder="Buscar">
          </div>
          <div class="col-2 mt-3">
            <button type="button" class="btn btn-success">
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>