<div class="accordion container-fluid" id="accordionExample">
  <div class="card ">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
       Total Items: 16
      </h5>
      <button class="btn btn-light" type="button" data-toggle="collapse" 
      data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
      (click)="showToggler()">
        Abrir
      </button>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" 
    [ngClass]="{ 'show': isTogglerOpen }" data-parent="#accordionExample">
      <div class="card-body">
          <div class="">
              <div class="row justify-content-start">
                <div class="col-3">
                  <select class="form-control">
                    <option>Default select</option>
                  </select>
                </div>
                <div class="col-3">
                  <select class="form-control">
                    <option>Default select</option>
                  </select>
                </div>
                <div class="col-3">
                  <select class="form-control">
                    <option>Default select</option>
                  </select>
                </div>
              </div>
              <div class="row justify-content-between">
                <div class="col-4">
                  One of two columns
                </div>
                <div class="col-4">
                  One of two columns
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>