<div class="container-fluid">
  <h3 class="mt-3">Información importante</h3>
  <div class="card mt-3">
    <div class="card-header">
      <h3>Clientes</h3>
    </div>
    <div class="card-body">
      <div class="row d-column d-xs-row">
        <div class="col-5">
          <h4 class="card-">Subtítulo</h4>
            <p class="card-text card-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <p class="card-text card-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <p class="card-text card-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <p class="card-text card-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
        </div>
        <div class="col-7">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <ul>
                    <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                      diam nonumy eirmod tempor invidun</li>
                  </ul>
                </div>
                <div class="col-3">
                  <p>200.000.000.000.000</p>
                </div>
              </div>
              <div class="row">
                <div class="col-9">
                  <ul>
                    <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</li>
                  </ul>
                </div>
                <div class="col-3">
                  <p>200.000.000.000.000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
