<div class="container-fluid justify-content-sm-start bc-container">
  <h3 class="bc-container__title mt-3">Información importante</h3>
  <div class="card bc-card mt-3">
    <div class="card-header bc-card__title">
      <h3>Clientes</h3>
    </div>
    <div class="card-body bc-card__body">
      <div class="row">
        <div class="col-md-5 bc-card__subdivision">
          <h4 class="bc-card__subtitle">Subtítulo</h4>
            <p class="card-text card-content bc-card__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <p class="card-text card-content bc-card__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <p class="card-text card-content bc-card__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <p class="card-text card-content bc-card__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
        </div>
        <div class="col-md-7 bc-card__subdivision mt-3">
          <div class="card card-block">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <ul>
                    <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                      diam nonumy eirmod tempor invidun</li>
                  </ul>
                </div>
                <div class="col-3">
                  <p class="bc-card__amount">$200.000.000.000.000</p>
                </div>
              </div>
              <div class="row">
                <div class="col-9">
                  <ul>
                    <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</li>
                  </ul>
                </div>
                <div class="col-3">
                  <p class="bc-card__amount">$200.000.000.000.000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
